:root {
    --background-color: #000000;
    --font-color: #EEEEEE;
    --text-font: "Krona One", sans-serif;
    --signature-font: "Nothing You Could Do", cursive;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 16px;
    font-family: var(--text-font);
    font-weight: 400px;
}

* {
    padding: 0;
    margin: 0;
}

.banner {
    background-image: url("img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.banner__content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;


}

.banner__content__left {
    margin-top: 163px;
    padding: 0 24px;
}

.banner__content__right {
    margin-top: 206px;
    padding: 0 54px;
}

.banner__title {
    font-size: 50px;
}

.banner__text {
    font-size: 30px;
    margin-top: 12px;
}

.banner__button {
    font-size: 20px;
    background-color: var(--font-color);
    color:#000000;
    padding: 18px 32px;
    border-radius: 15px;
    display:inline-flex;
    text-decoration: none;
    width: 30%;
    margin-top: 10px;
}

.banner__signature {
    font-family: var(--signature-font);
    font-size: 50px;
}
