:root {
    --background-color: #000000;
    --font-color: #EEEEEE;
    --text-font: "Krona One", sans-serif;
    --signature-font: "Nothing You Could Do", cursive;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 16px;
    font-family: var(--text-font);
    font-weight: 400px;
}

* {
    padding: 0;
    margin: 0;
}

.banner {
    background-image: url("img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.banner__content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.banner__content__left {
    margin-top: 250px;
    padding: 0 24px;
}

.banner__content__right {
    margin-top: 300px;
    padding: 0 54px;
}

.banner__title {
    font-size: 50px;
}

.banner__text {
    font-size: 30px;
    margin-top: 12px;
}

.banner__button {
    font-size: 20px;
    background-color: var(--font-color);
    color:var(--background-color);
    padding: 18px 32px;
    border-radius: 15px;
    display:inline-flex;
    text-decoration: none;
    width: 30%;
    margin-top: 10px;
}

.banner__signature {
    font-family: var(--signature-font);
    font-size: 50px;
}

.tracklist {
    align-items: center;
    text-align: center;
    padding: 120px;
}

.tracklist__songs {
    text-align: left;
    list-style-type: decimal;
    padding: 2% 40%;
}

.tracklist__songs__song {
    padding: 3% 0;
}

.tracklist__button {
    background-color: var(--font-color);
    border-radius: 15px;
    color: var(--background-color);
    text-decoration: none;
    display: flex;
    margin: 0 43%;
    padding: 1% 0;
}

.icon-spotify {
    width: 15%;
    text-align: center;
}

.tracklist__button__content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.videos {
    align-items: center;
    text-align: center;
}

.videos__content {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 120px;
    padding: 2% 20%;
}

.videos_content_video {
    flex-direction: column;    
    text-decoration: none;
    color: var(--font-color)
}

.videos__text {
    margin-top: 3%;
}

.videos__info {
    display: flex;
    gap: 2%;
}





